!!! 5
%html
  %head
    %title= community
    = render :partial => 'layouts/shared/head'
  %body
    = render :partial => 'layouts/shared/community/topbar'
    %div#masthead.container
      %div.row
        %div.span17
          %div.page-header
            %h4= 'Admin'
          %div.container-fluid
            %div.sidebar
              - [['Community dashboard', community_admin_root_path], ['new blog', new_community_admin_blog_path], ['blogs', community_admin_blogs_path]].each do |a|
                %br= link_to_unless_current a[0], a[1]
            %div.content
              - if title
                %div.page-header
                  %h3= title
              = render :partial => 'layouts/shared/flash', :locals => {:flash => flash}
              = yield
    = render :partial => 'layouts/shared/footer'

