!!! 5
%html
  %head
    %title= community
    = render :partial => 'layouts/shared/head'
  %body
    = render :partial => 'layouts/shared/community/topbar'
    %div#masthead.container
      %div.row
        %div.span17
          = render :partial => 'layouts/shared/community/header'
          %div.page-header
            %h4= member
      %div.row
        %div.container-fluid
          %div.sidebar
            - [['profile', community_member_path(member)], ['posts', community_member_posts_url(member)]].each do |a|
              %br= link_to_unless_current a[0], a[1]
            - if signed_in?(:community_member)
              - [['new post', new_community_member_post_url(current_community_member)]].each do |a|
                %br= link_to_unless_current a[0], a[1]
          %div.content
            - if title
              %div.page-header
                %h3= title
            = render :partial => 'layouts/shared/flash', :locals => {:flash => flash}
            = yield
    = render :partial => 'layouts/shared/footer'

