- if @communities.any?
  %table
    %thead
      %tr
        %th Name
        %th Uri
        %th State
        %th Created
        %th{:colspan => 2} Actions
    %tfoot
    - @communities.each do |community|
      %tr
        %td= link_to_if community.active?, community, root_url(:subdomain => community.to_param)
        %td= community.uri
        %td= community.state
        %td= l community.created_at
        %td= link_to 'edit', edit_account_community_path(community), :class => :edit
        %td= link_to 'delete', account_community_path(community), 
          :method => :delete, :class => :delete, :confirm => 'Remove?'
- else
  %p Create you first community, please.
