= f.association :blog, :collection => community.published_blogs, :prompt => 'Choose a blog'
= f.input :name
= f.input :body
= f.input :state_event, :collection => @post.state_transitions, :label_method => :event, :value_method => :event, :include_blank => @post.human_state_name
= f.input :tag_list
= f.submit

