!!! 5
%html
  %head
    %title Habriki
    = render :partial => 'layouts/shared/head'
  %body
    %div.topbar
      %div.fill
        %div.container
          %h3= link_to 'Habriki', :root
          %ul
            = render :partial => 'layouts/shared/menu'
    %div#masthead.container
      %div.row
        %div.span15
          %div.container-fluid
            %div.sidebar
              - [['new community', new_account_community_path], ['my communities', account_communities_path], ['edit profile', edit_account_user_path]].each do |a|
                %br= link_to_unless_current a[0], a[1]
            %div.content
              - if title
                %div.page-header
                  %h1= title
              = render :partial => 'layouts/shared/flash', :locals => {:flash => flash}
              = yield
