!!! 5
%html
  %head
    %title Habriki
    = render :partial => 'layouts/shared/head'
  %body
    %div.topbar
      %div.fill
        %div.container
          %h3= link_to 'Habriki', :root
          %ul
            - if user_signed_in?
              = render :partial => 'layouts/shared/menu'
            - else
              %li{:class => current_page?(new_user_registration_path) && 'active'}= link_to 'sign up', new_user_registration_path
              %li= link_to 'sign in', new_user_session_path
              - [:google].each do |p|
                %li= link_to "by #{p}", user_omniauth_authorize_path(p), :rel => :nofollow
    %h1 Habriki
    %div.container
      - if title
        %div.page-header
          %h1= title
      = render :partial => 'layouts/shared/flash', :locals => {:flash => flash}
      = yield
    %footer
      %div.container
        %p info@habriki.com
