!!! 5
%html
  %head
    %title= title
    = render :partial => 'layouts/shared/head'
  %body
    = render :partial => 'layouts/shared/community/topbar'
    %div#masthead.container
      %div.row
        %div.span14
          = render :partial => 'layouts/shared/community/header'
          - if title
            %div.page-header
              %h4= title
          = yield
    = render :partial => 'layouts/shared/footer'

